[Desktop Entry]
Name=Polifonia
GenericName=Polifonia\
Comment=Multi-speaker audio unison engine for PipeWire
Exec=polifonia
Icon=io.polifonia.AudioStudio
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;Player;GTK;
Keywords=Audio;Sound;PipeWire;Speakers;Unison;Crossover;Delay;Studio;
StartupNotify=true
StartupWMClass=io.polifonia.AudioStudio
